*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}

header {
	background-image: url(../img/background-car.jpg);
	background-repeat: repeat-x;
	background-position: top center;
	min-height: 642px;
	position: relative;
	font-family: "BebasBold";
}
header a {
	color: #fff;
}
.top_line {	
	min-height: 97px;
	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	box-shadow: rgba(255,255,255,.3) 0 0 0 1px;	
	width: 100%;
	background-color: rgba(0,0,0,.6);
	padding: 20px 0;
}
.top_line a {
	font-size: 21px;
	border-bottom: #fff dashed 1px;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.top_line a:hover {
	border-bottom: transparent 1px dashed;
}
.top_addr {
	padding-left: 50px;
	background-image: url(../img/top_map.png);
	background-repeat: no-repeat;
	background-position: left top;
	
}
.top_addr strong {
	display: block;
	color: #d12f22;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 32px;
	line-height: 22px;
	padding-top: 4px; 
}
.top_line .logo_wrap {
	position: relative;	
	width: 249px;
	margin: auto;
}
.top_line .logo {
	margin-top: -18px;
	border-bottom: none;
	position: absolute;
}
.top_line .logo:hover {
	border-bottom: none;
}
.top_line .ta_right {
	background: none;
	padding-left: 0;
	text-align: right;
}
.top_line .ta_right span{
	color:white;
}
header h1 {
	text-align: center;
	color: #fff;
	margin-top: 68px;
	font-size: 40px;
	text-shadow: rgba(0,0,0,.55) 0 3px;
	font-family: "BebasRegular";
}
.button	{
	display: inline-block;
	background-color: #d12f22;
	height: 50px;
	vertical-align: middle;
	line-height: 50px;
	padding: 0 25px;
	font-size: 20px;
	border-bottom: #ac160a solid 4px;
	color: #fff;
	font-family: "BebasBold";
}
.button:hover {
	background-color: #e64437;
}
.button:active {
	background-color: #b81609;
}
header .button {
	margin-right: 20px;
}
header .st_button {
	line-height: 18px;
	padding-top: 7px;
	padding-left: 60px;
	background-image: url(../img/camera.png);
	background-repeat: no-repeat;
	background-position: 8px center ;
}
header .buttons_top {
	position: absolute;
	width: 100%;
	bottom: 33px;
}
.top_mnu {
	height: 62px;
	background-color: #242424;
	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	box-shadow: rgba(255,255,255,.3) 0 0 0 1px;	
	font-family: "BebasRegular";
	text-transform: uppercase;
	color: #fff;
}
.top_mnu ul{
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
	float: left;
}
.top_mnu li {
	display: inline-block;	
}
.top_mnu li.active,
.top_mnu li:hover {
	background-color: #050505;
}
.top_mnu a {
	color: #fff;
	font-size: 20px;
	padding: 0 26px 0 49px;
	display: block;
	line-height: 62px;
	border-left: 1px solid #3b3b3b;
	background-image: url(../img/icon_sprite.png);
	background-repeat: no-repeat;
	background-position: 20px 20px;
} 
.top_mnu li:nth-child(2) a {	
	background-position: 5px -63px;
}
.top_mnu li:nth-child(3) a {	
	background-position: 5px -147px;
}
.top_mnu li:nth-child(4) a {	
	background-position: 5px -237px;
}
.top_mnu li:nth-child(5) a {	
	background-position: 5px -325px;
}
.top_mnu li:nth-child(6) a {	
	background-position: 5px -403px;
}
.top_mnu .waranty {
	float: right;
	font-size: 15px;
	border: 3px solid #fff;
	border-radius: 3px;
	padding: 3px 5px;
	line-height: 16px;
	margin-top: 9px;
}
.top_mnu .waranty .w_left,
.top_mnu .waranty .w_right {
	display: inline-block;
	vertical-align: top;
}
.top_mnu .waranty .w_left {
	font-size: 20px;
	font-family: "BebasBold";
	margin-top: 10px;
	margin-right: 8px;
	}
.top_mnu .waranty .w_left span {
	font-size: 34px;
	font-family: "BebasBold";
}
.top_mnu .waranty .w_right {
	font-family: "RobotoCondensedRegular";
}
.main_cats {
	background-color: #191919;
	padding: 20px 0 40px;	
}
.main_cats h2,
article .art_header {
	text-transform: uppercase;
	color: #c9c9c9;
	font-family: "BebasRegular";
	font-size: 40px;
	text-align: center;
}
.main_cats strong {
 	color: #fff;
}
.main_cats span {
	color: #d12f22;	
}
section h2,
article .art_header {
	position: relative;
}
.s_black h2:before {
	content:"";
	position: absolute;
	width: 50px;
	height: 20px;
	top: 13px;
	margin-left: -68px;
	background: url(../img/header_img_sprite.png) no-repeat 0 0;
}
.s_black h2:after {
	content:"";	
	position: absolute;
	width: 50px;
	height: 20px;
	top: 13px;
	margin-left: 20px;
	background: url(../img/header_img_sprite.png) no-repeat -50px 0px;
} 
article .art_header:before {
	content:"";
	position: absolute;
	width: 50px;
	height: 20px;
	top: 13px;
	margin-left: -68px;
	background: url(../img/art_img_sprite.png) no-repeat 0 0;
}
article .art_header:after {
	content:"";	
	position: absolute;
	width: 50px;
	height: 20px;
	top: 13px;
	margin-left: 20px;
	background: url(../img/art_img_sprite.png) no-repeat -50px 0px;
} 
.mc_item {
	border: #353535 solid 1px;
	border-radius: 2px;
}
.mc_item_wrap {
	margin-left: 28px;
	width: 163px;
	display: inline-block;
	text-align: center;
}
.mc_wrap {
	text-align: center;
	padding: 0;
	position: relative;
}
.mc_item_wrap:first-child {
	margin-left: 0;
}
.mc_item_wrap a {
	color: #fff;
}
.mc_item span {
	display: block;
	height: 85px;
	width: 130px;
	background-image: url(../img/cats-sprite.png);
	background-repeat: no-repeat;	
	margin: 15px auto 0px;
}
.mc_item_wrap:nth-child(1) span {	
	background-position: 18px 10px;
}
.mc_item_wrap:nth-child(2) span {	
	background-position: -170px 10px;
}
.mc_item_wrap:nth-child(3) span {	
	background-position: -360px 10px;
}
.mc_item_wrap:nth-child(4) span {	
	background-position: -550px 10px;
}
.mc_item_wrap:nth-child(5) span {	
	background-position: -738px 10px;
}
.mc_item_wrap:nth-child(6) span {	
	background-position: -930px 10px;
}
.mc_item h4 {
	font-weight: normal;
	font-family: "BebasRegular";
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.mc_item a:hover h4,
.mc_wrap .active h4 {
	text-decoration: underline;	
}
.mc_wrap .active,
.mc_item_wrap:hover {
	background-color: #2A2A2A;
}
.mc_toggle {
	background-color: #212121;
	position: relative; 	
	height: 25px;
	cursor: pointer;
	background-image: url(../img/mc_arrow.png);
	background-repeat: no-repeat;
	background-position: 73px 8px;
}
.mc_item_wrap_af {
	content: "";
	width: 22px;
	height: 10px;	
	position: absolute;
	margin: 15px 69px;
	background-image: url(../img/slider_arrow.png);	
	display: none;
}
.mc_item_wrap.active .mc_toggle,
.mc_item_wrap:hover .mc_toggle {
	background-color: #353535;
	background-position: -24px 8px;
}
.mc_item_wrap > ul { 
	position: absolute;
	left: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 15px 0;  
	background-color: #353535;
	margin-top: 25px;
	z-index: 10;
	display: none;
}
.mc_item_wrap > ul li {
	display: inline-block;
	font-family: "BebasRegular";	
	font-size: 20px;
}
.mc_item_wrap > ul li a {
	padding: 0 20px;
	text-decoration: underline;
}
.mc_item_wrap > ul li a:hover {
	text-decoration: none;
}
.main_cats .mc_button_w {
	margin-top: 30px;
	text-align: center;
}
article.content {
	background-color: #e9e9e9;
}
article .art_header {
	color: #050505;
	margin-bottom: 10px;
} 
article .h_descr {
	max-width: 790px;
	text-align: center;
	margin: auto;
	color: #050505;
}
article .home_items {
	background-color: #D6D6D6;
	padding: 40px 0;
	margin-top: 40px;
}
.hi_item {
	color: #050505;
	text-align: center;
	font-size: 14px;
	margin-bottom: 50px;
}
.hi_item img{
	border-top: #AC160A 8px solid;
	max-width: 100%;
}
.s_bottom img {
	max-width: 100%;
}
.s_bottom {
	padding-top: 32px;
}
.s_bottom h2 {
	margin: 10px 0;
	text-transform: uppercase;
	font-size: 36px;
	font-family: "BebasRegular"
}
.button_cont {
	text-align: right;
}
footer {
	background-color: #2a2a2a;
	color: white;
	padding: 28px 0 35px;
	font-family: "BebasBold";
	font-size: 20px;
}
footer a {
	color: white;
	padding: 0 10px;
	text-decoration: underline;
}
footer a:hover {
	text-decoration: none;
}
footer ul {
	margin:0;
	padding: 0;
	list-style: none;
}
footer li {
	display: inline-block;

}